@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Module Creation";
}
<div class="containor">
    <nav class="navbar navbar-expand-sm navbar-light">
        <div class="container-fluid">
            <object data="~/images/h4u_icon_02_text_green.svg"
                    width="40"
                    height="40"
                    style="position: absolute; top: 0; left: 0; margin-left: 10px; margin-top: 5px">
            </object>
            <a class="navbar-brand" style="margin-left: 50px; font-weight: bold">HoursForYou</a>
            <div class="navbar-collapse">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="About" asp-route-userID="@ViewBag.UserID">About</a>
                    </li>
                    <li>
                        <label style="font-size: 25px; font-weight: lighter; color: gray">|</label>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Semester" asp-action="SemesterCreation" asp-route-userID="@ViewBag.UserID">Create Semester</a>
                    </li>
                    <li>
                        <label style="font-size: 25px; font-weight: lighter; color: gray">|</label>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="SemesterPlanner" asp-action="UserSemesterPlanner" asp-route-userID="@ViewBag.UserID">Planner</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="rectangle" style=" width: auto; margin-top: 150px; background-color: white; opacity: 90%; min-height: 600px; min-width: 900px">
        <div class="block" style="width: 100%">
            <form asp-action="ModuleCreation" method="post">
                <div class="row">
                    <h1 class="display-4" style="margin-bottom: 25px">Create a Module:</h1>
                </div>
                <div class="row">
                    <p>UserID:@ViewBag.UserID</p>
                </div>
                <div class="row">
                    <p>Name:@ViewBag.SemesterName</p>
                </div>
                <div class="row">
                    <p>Weeks:@ViewBag.NumberOfWeeks</p>
                </div>
                <div class="row">
                    <p>Date:@ViewBag.StartDate</p>
                </div>
                <div class="row">
                    <p style="color: green">Fill out the below information and click the add module button below to add it to the semester. You can add as many as you want!</p>
                </div>
                <div class="row" style="margin-bottom: 20px; max-width: 660px; margin-right: auto; margin-left: auto">
                    Ainslie Rocks! True :))
                    <label for="moduleName" style="font-size: 20px; color: gray">Module Name:</label>
                    <input id="moduleName" style="opacity: 100%; height: 35px" />
                </div>
                <div class="row" style="margin-bottom: 20px; max-width: 660px; margin-right: auto; margin-left: auto">
                    <label for="moduleCode" style="font-size: 20px; color: gray">Module Code:</label>
                    <input id="moduleCode" style="opacity: 100%; height: 35px" />
                </div>
                <div class="row" style="margin-bottom: 20px; max-width: 660px; margin-right: auto; margin-left: auto">
                    <label for="numberOfCredits" style="font-size: 20px; color: gray">Number of Credits:</label>
                    <input id="numberOfCredits"type="number" style="opacity: 100%; height: 35px" />
                </div>
                <div class="row" style="margin-bottom: 20px; max-width: 660px; margin-right: auto; margin-left: auto">
                    <label for="hoursPerWeek" style="font-size: 20px; color: gray">Class Hours Per Week:</label>
                    <input id="hoursPerWeek" type="number" style="opacity: 100%; height: 35px" />
                </div>
                <div class="row">
                    <p id="moduleSuccessMessage" style="display: none; color: forestgreen; font-size: 20px; margin-left: 10px">Successfuly Added Module!</p>
                </div>
                <div class="row" style="margin-bottom: 20px; max-width: 660px; margin-right: auto; margin-left: auto">
                    <button type="submit" id="createModuleButton" class="submit_button" asp-route-userID="@ViewBag.UserID"
                            style="height: 35px; background-color: #77d1ff">
                        Add Module
                    </button>
                </div>
                <div class="row" style="margin-bottom: 20px; max-width: 660px; margin-right: auto; margin-left: auto">
                <button type="button" id="back" class="default_button"
                            style="height: 35px; background-color: red" onclick="validateInputsAndRedirect('@Url.Action("SemesterCreation", "Semester")')">
                        Back
                    </button>
                </div>
                <div class="row">
                    <label>@(ViewBag.Modules != null ? ViewBag.Modules.Count : 0)</label>
                </div>
            </form>
        </div>
    </div>
</div>
<script>
    function validateInputsAndRedirect(url) {
        var semesterName = '@ViewBag.SemesterName';
        var numberOfWeeks = '@ViewBag.NumberOfWeeks';
        var startDate = '@ViewBag.StartDate';
        var userID = '@ViewBag.UserID';

        var redirectUrl = url;
        redirectUrl += '?userID=' + encodeURIComponent(userID);
        redirectUrl += '&semesterName=' + encodeURIComponent(semesterName);
        redirectUrl += '&numberOfWeeks=' + numberOfWeeks;
        redirectUrl += '&startDate=' + encodeURIComponent(startDate);

        location.href = redirectUrl;
    }
</script>